<h1>Reviews for <%= @restaurant.name %></h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= review.content %>
      <%= review.rating %>
    </li>
  <% end %>
</ul>

<%= link_to "Back", restaurant_path(@restaurant) %>
